<h1 class="text-center">Analytics Report</h1>
<div class="container pt-3">
    <div class="row justify-content-sm-center">
        <div class="col-sm-6 col-md-4">

            <div class="card border-info text-center">
                <div class="card-header">
                    Sign in to continue
                </div>
                <div class="card-body">
                    <img src="../../../assets/images/analytics.jpg" width="100%">
                    <h4 class="text-center">Analytics</h4>
                    <form class="form-signin" #f="ngForm">
                        <input type="text" name="email" ngModel class="form-control mb-2" placeholder="Email" required email
                            autofocus>
                        <input type="password" name="password" ngModel class="form-control mb-2" placeholder="Password"
                            required>
                        <button class="btn btn-lg btn-primary btn-block mb-1" type="submit" (click)="signIn(f)">Sign
                            in</button>
                        <label class="checkbox float-left">
                            <input type="checkbox" value="remember-me">
                            Remember me
                        </label>
                        <a class="float-right" routerLink="/register">Create an account </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>